

*{	margin:0;padding: 0;
	font-family: 'Roboto Medium'}

body{
	width: 1200px;
	height: 2256px;
}



#top_menu{
	height:435px;
	width: 1200px;
	background-color: #eee;
	margin-left: 10px;
}

#logo{
	float:left;
	margin-left: 150px;
	margin-top:25px;
	background-image: url('../img/nerds.png');
	background-size: 139px 57px;
	background-repeat: no-repeat;
	width:140px;
	height: 56px;
}

#text_menu{
	float:left;
	margin-top:55px;
	margin-left:135px;
	text-transform: uppercase;
}
.topMenuItem{
	display:inline;
	margin-left:45px;

	font-family: Roboto Medium, 'Arial';	
	font-size:13px;
}

#logo-img{
	position:relative;
	margin-left:690px;
	margin-top:53px;
}

#tit{
	position: relative;
	float: left;
	margin-top: 72px;
	margin-left: 149px;
}

#title{
	position: relative;
	font-family: Roboto Medium;
	font-weight: bold;
	font-size: 35px;
	letter-spacing: -1px;
	line-height: 38px;
}

#subtitle{
	position: relative;
	font-family: Roboto Medium;

	margin-top: 18px;
	margin-bottom: 30px;
	line-height: 21px;
}

#butMore{

	height:37px;
	width:240px;
	background-color:#f66;
	color:#fff;
	text-transform: uppercase;
	font-family: Roboto Medium;
	text-align: center;
	font-size: 12px;
	border-radius:4px;
	line-height: 37px;
}

#rounds{
	margin-top: -42px;
    left: 42px;
    position: relative;
}

.blockT{
	height: 300px;
	margin-right: 80px;
	float: left;
}
.blockT_title{
	text-transform: uppercase;
	margin-top: 24px;
	font-size: 18px;
	font-family: Roboto Medium;
}

.blockT_text{
	margin-top: 21px;
    font-family: Roboto Medium;
    line-height: 19px;
    font-size: 15px;
}

.blockT_button{
	margin-top:30px;
	font-family: Roboto Medium;
	width:140px;
	height: 38px;
	text-align: center;
	text-transform: uppercase;
	color: #fff;
	line-height: 38px;
	font-size: 12px;
	border-radius: 4px;
}

#blockT_button_red{
	background-color: #fb565a;
}

#blockT_button_green{
	background-color: #00ca74;
}

#blockT_button_yellow{
	background-color: #efc84a;
}

#hr1{

	margin-top:80px;
	color:#eee;
	width: 880px;
	margin-left: 160px;
}

.title_3{
	font-size: 36px;
    font-family: Roboto Medium;
    line-height: 40px;
}

.text_3{
	margin-top: 13px;
    font-family: Roboto Medium;
    font-size: 16px;
    line-height: 24px;
}

.text_4{
	margin-top: 44px;
    text-transform: uppercase;
    margin-bottom: 13px;
}

.text_5{
	    margin-top: 66px;
    text-transform: uppercase;
    margin-left: -32px;
}

.ul1{
	line-height: 44px;
}

.ul2{
	margin-top: 15px;
    line-height: 44px;
    margin-left: -33px;

}

.ul2 li{
	list-style: none;
    background: url(../img/marker.png) no-repeat 0 21px;
    padding-left: 35px;
}

.ul1 li{
	list-style: none;
    background: url(../img/marker.png) no-repeat 0 21px;
    padding-left: 35px;
}

.logo2{
	width: 185px;

}

.a1, .a2, .a3 {
	float:left;
	margin-top:30px;
}

.a1, .a3{
	margin-top: 38px;
}

.a1{
	margin-right:15px;
}
.a3{
	margin-left:15px;
}
.hr2{
	width:55px;
}

.hr3{
	margin-top:58px;
	color:#eee;
	width: 880px;
	margin-left: 160px;
}
.block32{
	float:left;
	margin-top: 60px;
	margin-left: 88px;
}


.imgs{
    float: left;
    margin-top: 36px;
    margin-right: 99px;
}

#img1{
	margin-top: 28px;
    margin-left: 11px;
}

#img2{
	margin-top:17px;
	margin-left: 20px;
}

#img3{
	margin-top: 10px;
    margin-left: 24px;
}